# ── Base de Datos ──────────────────────────────────────────────
DATABASE_URL="postgresql://postgres:1q2w3e@localhost:5432/PropuestaSalud?schema=public"

# ── Aplicacion ─────────────────────────────────────────────────
NODE_ENV=development
PORT=3000

# ── JWT ────────────────────────────────────────────────────────
JWT_SECRET="cambiar-en-produccion-super-secreto-256bits"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# ── CORS ───────────────────────────────────────────────────────
CORS_ORIGINS="*"
